.bgimg-1 {
    background-image: url(/static/Images/Horizontal_Sunset.jpg);
    min-height: 100%;
}

.bgimg-2 {
    background-image: url(/static/Images/Devils_Lake_Friends.jpg);
    min-height: 80%;
}

.bgimg-3 {
    background-image: url(/static/Images/Devils_Lake.jpg);
    min-height: 80%;
}

.bgimg-4 {
	background-image: url(/static/Images/Joshua_Tree_TopView.jpg);
    min-height: 100%;
}

.bgimg-5 {
	background-image: url(/static/Images/Harpers_Ferry_River.jpg);
    min-height: 80%;
}

.bgimg-6 {
	background-image: url(/static/Images/Gear_AnnapolisRock.jpg);
    min-height: 100%;
}

.bgimg-7 {
	background-image: url(/static/Images/AR_Lake.jpg);
    min-height: 100%;
}

.bgimg-8 {
	background-image: url(/static/Images/Eamonn_AnnapolisRock.jpg);
    min-height: 70%;
}

.bgimg-9 {
	background-image: url(/static/Images/AR_Ridge.jpg);
    min-height: 80%;
}

.bgimg-10 {
	background-image: url(/static/Images/Harpers_Ferry.jpg);
    min-height: 80%;
}

.bgimg-11 {
	background-image: url(/static/Images/Joshua_Tree.jpg);
    min-height: 65%;
}

.bgimg-1, 
.bgimg-2, 
.bgimg-3,
.bgimg-4, 
.bgimg-5, 
.bgimg-6, 
.bgimg-7, 
.bgimg-8, 
.bgimg-9, 
.bgimg-10,
.bgimg-11
 {
    position: relative;
    opacity: .80;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.caption {
	position: absolute;
	left: 0;
    top: 50%;
    width: 100%;
    text-align: center;
    color: #000;
}

.caption2 {
	position: absolute;
	left: 0;
    top: 20%;
    width: 100%;
    text-align: center;
    color: #000;
}

.caption3 {
	position: absolute;
	left: 0;
    top: 42.5%;
    width: 100%;
    text-align: center;
    color: #000;
}

.caption4 {
	position: absolute;
	left: 0;
    top: 65%;
    width: 100%;
    text-align: center;
    color: #000;
}

.separator {
	background-color: white;
	padding: 60px;
    margin-inline-start: 90px;
    margin-inline-end: 90px;
}

.h2 {
	text-transform: uppercase;
	font: 400 15px/1.8 "Lato", sans-serif;
	color: #777;
	font-weight: bold;
	letter-spacing: 2px;
}

.tweet_upper {
    font-size: 12px;
    text-align: left;
}

.tweet {
    text-align: left;
    color: #000;
}

.tweet_location {
    font-size: 12px;
    text-align: left;
}

.tweet_likes {
    font-size: 12px;
    text-align: right;
}