<!doctype html>

<html>
	<head>
		<link rel="stylesheet" href="/static/CSS/bootstrap.css">
		<link rel="stylesheet" href="/static/CSS/MyCSS.css">
		
		<title>Climbing Locations</title>
		<meta name="viewport" content="width=device-width", initial-scale=1">

		<!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=G-586L3T93BB"></script>
        <script>
          window.dataLayer = window.dataLayer || [];
          function gtag(){dataLayer.push(arguments);}
          gtag('js', new Date());

          gtag('config', 'G-586L3T93BB');
        </script>

	</head>
	
	<body>
		<div class="bgimg-4">
			<div class="caption">
				<span class="border">Locations</span>
			</div>
		</div>
		
		<div class="separator">
			<h1>Where to Climb</h1>
			<br>
				<div class="container">
					<div class="row">
						
						<!-- Column 1 -->
						<div class="col">
							<div class="card" style="width: 18rem;">
								  <img src="/static/Images/Me_DevilsLake.jpg" class="card-img-top" alt="...">
								  <div class="card-body">
									<h5 class="card-title">{{ location_1 }}</h5>
									<p class="card-text">Devil's Lake State Park is in Baraboo, Wisconsin, and holds arguably the best rock climbing in the Midwest.  There are over 1600 routes logged in local climbing guides, and has a multitude of guide companies nearby. As well as countless other activities, such as: fishing, kayaking, swimming, beaches, camping, and hiking.</p>
								  </div>
								  <ul class="list-group list-group-flush">
									<li class="list-group-item">Location:  Baraboo, Wisconsin</li>
									<li class="list-group-item">Department:  Wisconsin Department of Natural Resources</li>
									<li class="list-group-item">Phone Number:  (608) 356-8301</li>
								  </ul>
								  <div class="card-body">
									<a href="https://www.mountainproject.com/area/105729927/devils-lake" class="card-link">Devil's Lake on MountainProject</a>
								  </div>
							</div>
						</div>
						
						<!-- Column 2 -->
						<div class="col">
							<div class="card" style="width: 18rem;">
								  <img src="/static/Images/Jackson_Falls.jpg" class="card-img-top" alt="...">
								  <div class="card-body">
									<h5 class="card-title">{{ location_2 }}</h5>
									<p class="card-text">Jackson falls has the largest number of climbing routes in Illinois. Located in a forest canyon the 30-70 foot walls offer slopers, various sized pockets, roofs, and slabs. Jackson Falls is in the Shawnee National Forest in southern Illinois. It can get hot and humid in the summer but there's plenty of shade.</p>
								  </div>
								  <ul class="list-group list-group-flush">
									<li class="list-group-item">Location:  Shawnee National Forest, Illinois</li>
									<li class="list-group-item">Department:  Hidden Springs Ranger District</li>
									<li class="list-group-item">Phone Number:  (618) 658-2111</li>
								  </ul>
								  <div class="card-body">
									<a href="https://www.mountainproject.com/area/106017458/jackson-falls" class="card-link">Jackson Falls on MountainProject</a>
								  </div>
							</div>
						</div>
						
						<!-- Column 3 -->
						<div class="col">
							<div class="card" style="width: 18rem;">
								  <img src="/static/Images/Annapolis_Rock.JPEG" class="card-img-top" alt="...">
								  <div class="card-body">
									<h5 class="card-title">{{ location_3 }}</h5>
									<p class="card-text">Annapolis Rock is a 50 minute, 2 mile hike up the Appalachian Trail in the backcountry of the South Mountain Recreation Area (South Mountain State Park), is a terrific, short band of western facing cliffs 1800 feet above the Cumberland Valley and Greenbrier Lake near Frederick, MD. The rock is bullet-hard quartzite characterized by smooth bulges and long, horizontal fractures.</p>
								  </div>
								  <ul class="list-group list-group-flush">
									<li class="list-group-item">Location:  Myersville, Maryland</li>
									<li class="list-group-item">Department:  Maryland Department of Natural Resources</li>
									<li class="list-group-item">Phone Number:  410-260-8367</li>
								  </ul>
								  <div class="card-body">
									<a href="https://www.mountainproject.com/area/106734666/annapolis-rock" class="card-link">Annapolis Rock on MountainProject</a>
								  </div>
							</div>
						</div>
					</div>
				</div>
		</div>
		
		<div class="bgimg-5">
			<div class="caption2">
				<span class="border">Links</span>
			</div>
			
			<div class="caption4">
				<div class="container">
					<div class="row">
						
						<!-- Column 1 -->
						<div class="col">
							<button class="border" type="button" onclick="location.href = 'Safety';">Safety</button>
						</div>
						
						<!-- Column 2 -->
						<div class="col">
							<button class="border" type="button" onclick="location.href = 'Homepage';">Back Home</button>
						</div>
							
						<!-- Column 3 -->
						<div class="col">
							<button class="border" type="button" onclick="location.href = 'Classes';">Classes</button>
						</div>
					</div>
				</div>
			</div>
		</div>
		
	</body>

</html>